.git
.github
.env
.env.*
!.env.docker.example
node_modules
vendor
public/build
public/hot
bootstrap/cache/*
storage/app/private/*
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
tests
docs
phpunit.xml
Dockerfile
compose.yaml
docker-compose.yml
README.md
